{#

This file is part of the Cosa package.

(c) Ivan Proskuryakov

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<!DOCTYPE html>
<html>
<head>
    {% include 'head.html.twig' %}
</head>
<body class="page">
<div class="container">
    {% include 'header.html.twig' %}

    {% block heading %}
        <div class="heading">
            <div class="container">
                <h1>{% block headingTitle %} {{ application.name }} {% endblock %}</h1>
            </div>
        </div>
    {% endblock %}

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->


    {% include 'flash.html.twig' %}

    {% block body %}{% endblock %}

    {% include 'footer.html.twig' %}
</div>
</body>
</html>
