{#

This file is part of the Cosa package.

(c) Ivan Proskuryakov

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}


<footer>
    <div class="container">
        <p class="pull-right">
            <a href="{{ path('cosa_homepage') }}">{% trans %}Homepage{% endtrans %}</a> |
            <a href="#">{% trans %}Back to top{% endtrans %}</a>
        </p>
        <p>&copy; 2014 {{ application.name }}</p>
    </div>
</footer>