{#

This file is part of the Cosa package.

(c) Ivan Proskuryakov

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

    <div class="navbar" role="navigation">
        <div class="row">
            <div class="container">
                <a class="navbar-logo" href="{{ path('cosa_homepage') }}">
                    {{ application.name }}
                    <span>SCULPTURES</span>
                </a>
                <div class="menu">
                    <ul class="links">
                        <li class="first"><span class="separator"></span><a href="#">XL</a></li>
                        <li><span class="separator"></span><a href="#">M</a><span class="separator"></span></li>
                        <li class="last"><a href="#">S</a><span class="separator"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>