{#

This file is part of the Cosa package.

(c) Ivan Proskuryakov

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

    <div class="navbar navbar-inverse navbar-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('cosa_homepage') }}">{{ application.name }}</a>
            </div>
            <div class="navbar-collapse collapse">
                {{ knp_menu_render('CosaNavigationBundle:Builder:topMenu',{'template': 'CosaNavigationBundle:Menu:topmenu.html.twig'}) }}

            </div>
        </div>
    </div>