/* GLOBAL STYLES */

body {
    color: #5a5a5a;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

body.page {
    padding: 0;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
    padding-right: 15px;
    padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

.container.marketing {
    margin-top: 0px;
    padding: 0 15px;
}

.notificationMessages {
    margin-top: 20px;
}

/* Heading */

.page .heading {
    border-radius: 0;
}

.page .navbar {
    margin-top: 20px;
}

.page .navbar a,
.page .navbar a:hover {
    color: #993300;
    text-transform: none;
    text-decoration: none;
}

.navbar-logo {
    float: left;
    font-size: 19px;
    line-height: 20px;
    width: 155px;
}

.navbar-logo span {
    display: inline-block;
    float: left;
    color: #000;
}

.page .navbar a span {
    color: #000;
    font-size: 25px;
}

.page .navbar .menu {
    float: left;
    display: inline-block;
}

.page .navbar .menu .links {
    line-height: 1;
    float: left;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.page .navbar .menu .links li {
    float: left;
    list-style-type: none;
    line-height: 1;
    margin-top: -5px;
}

.page .navbar .menu .links .separator {
    display: inline-block;
    border-left: 1px solid #464646;
    margin-left: 20px;
    padding-left: 20px;
    height: 35px;
    margin-top: 4px;
}

.page .navbar .menu .links li a {
    font-size: 50px;
    color: #000;
    line-height: 1;
    display: inline-block;
}

.heading {
    height: 160px;
    background: #777;
    border-radius: 4px;
}

.heading h1 {
    color: #fff;
    margin-top: 0px;
    padding-top: 100px;
}

/* Main content area*/
.mainContent {
    min-height: 400px;
}

.navigation {
    clear: both;
    width: 100%;
    float: left;
}

/* Pages */
.postDate {
    font-weight: bold;
}

.bs-example {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
}

/* Footer */
footer a,
footer a:hover {
    color: #222;
}

.page footer {
    border-radius: 0;
}

footer {
    clear: both;
    background: #fff;
    padding: 40px 0px 90px 0px;
    color: #222;
    margin-top: 40px;
    border-radius: 4px;
}